* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Force Unix line endings for shell scripts
*.sh text eol=lf
docker/*.conf text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
